body {
  background-color: #f4edea;
  font-family: "Quicksand", sans-serif;
}

header {
  border-bottom: 1px dotted #f4edea;
  padding: 20px 0 20px 0;
}

main {
  padding: 25px;
}

footer {
  border-top: 1px dotted #f4edea;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 20px 0 0 0;
  text-align: center;
}

footer a {
  color: #685369;
  font-weight: 700;
}

.weather-app {
  /* container*/
  background: #9e7682;
  background: linear-gradient(
    45deg,
    rgba(158, 118, 130, 1) 0%,
    rgba(96, 87, 112, 1) 100%
  );
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 100px auto;
  max-width: 500px;
  padding: 35px;
}

.search-form-input {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 15px;
  width: 80%;
}

.search-form-button {
  background-color: #685369;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 15px;
  margin: 0 0 0 10px;
  padding: 15px;
}

.search-form-button:hover {
  cursor: pointer;
}

.weather-app-data {
  /* container around data, grid */
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  color: white;
  font-size: 38px;
  line-height: 45px;
  margin: 0;
}

.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.weather-app-details strong {
  color: #4f3f50;
}

.weather-app-con {
  /* container around weather details, grid */
  display: flex;
}

.weather-app-icon {
  font-size: 40px;
  margin: 20px 0 0 0;
}

.weather-app-temp-value {
  color: white;
  font-size: 80px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.weahter-app-temp-unit {
  color: white;
  font-size: 20px;
  margin: 20px 0 0 0;
}
