body {
  background-color: #f9f7fe;
  font-family: "Quicksand", sans-serif;
}

a {
  color: #885df1;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 20px 0 20px 0;
}

main {
  padding: 25px;
}

footer {
  border-top: 1px solid #f9f7fe;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 20px 0 0 0;
  text-align: center;
}

footer a {
  font-weight: 700;
}

.weather-app {
  /* container*/
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 100px auto;
  max-width: 500px;
  padding: 35px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 15px;
  width: 80%;
}

.search-form-button {
  background-color: #885df1;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin: 0 0 0 10px;
  padding: 15px;
}

.weather-app-data {
  /* container around data, grid */
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 38px;
  line-height: 45px;
  margin: 0;
}

.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-con {
  /* container around weather details, grid */
  display: flex;
}

.weather-app-icon {
  font-size: 40px;
  margin: 20px 0 0 0;
}

.weather-app-temp-value {
  font-size: 80px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.weahter-app-temp-unit {
  font-size: 20px;
  margin: 20px 0 0 0;
}
